
params {
    input =                                null
    outdir =                               null
    matrix =                                "filtered"


    // Workflow control
    stop_after =                            null

    // Project Description
    description =                         "Generic description"
    data =                                "Generic data description"
    objectives =                          "Generic objectives"
    metadata =                             null
    logo =                                 "$projectDir/project_assets/logo.jpeg"
    quarto_index =                         "$projectDir/project_assets/index.qmd"
    quarto_yml =                           "$projectDir/project_assets/_quarto_full.yml"


    // Analysis details
    pipeline =                            "rna"
    process_gex =                         true
    integrate_modalities =                false


    // Species details
    genome =                              "GRCh38"

    // QC Metrics
    // GEX QC
    nCount_Spatial_min =                      100
    nCount_Spatial_max =                      25000
    nFeature_Spatial_min =                    100
    nFeature_Spatial_max =                    2500


   
    // Exclude samples
    sample_exclusion =                     ["ASY14"]



    // Second pass dimension reduction (after doublets)
    umap_ndims =                         30
    clustering_res =                     0.8



    // Dataset integration
    view_batch =                         'Project'
    integrate_datasets =                 true
    integrate_by =                       "Project"
    integration_method =                 "Harmony"     
    /// integration method accepts 'CCA', 'RPCA', 'FastMNN' or 'Harmony'


    // Spot Deconvolution
    deconvolution_method =                "RCTD"
    rctd_ref =                            "none"
    ref_ident =                           "cell_type"
    
    

    selected_method =                      'azimuth'
    /// Choose which annotation method to derive final annotations from. Accepts 'azimuth', 'singler' or 'scimilarity'. Method Must be first run 

    markers_rna =                         ["FOXP3", "CD3E", "CD8A", "CD4", "CD19", "MS4A1",
                                           "CD14", "FCGR3A", "NCAM1", "HLA-DRB1", "PRF1", "GZMB", ]

    markers_adt =                         ["CD3E", "CD4", "CD8", 'CD14', 'CD16', 'CD56', 'CD1C', 'CD19']



    // Project info
    outcomes =                            ['Group']



}

manifest {
    name            = 'rpmbioinfo/spatial_downstream'
    author          = """Adam-Nicolas Pelletier, PhD"""
    homePage        = 'https://github.com/rpmbioinfo/spatial_downstream'
    description     = """Performs downstream analysis on aligned 10X Genomics Visium data"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0'
    doi             = ''
}


docker.enabled = true


includeConfig 'conf/genomes.conf'
includeConfig 'conf/script_collection.conf'
includeConfig 'conf/modules.conf'